# Instance ID       Server App ID[1]     IPv4 Address          Port        Map             Max. Players     Status[2]          Priority
example             232330               127.0.0.1             27015       cs_office       64               always-online      default

# [1] Server App IDs
#   232330 (Counter-Strike: Source)
#   232290 (Day of Defeat: Source)
#   232250 (Team Fortress 2)
#   ...
#
# See 'Linux Dedicated Server' in
# https://developer.valvesoftware.com/wiki/Dedicated_Servers_List

# [2] Status
#   always-online: Gameserver is always restarted (gameserver crash, restart of the dedicated server, ...).
